/*font family*/

p {
	font-family: Trebuchet MS;
}

h1 {
	font-family: Georgia;
}

/*font size*/

body {
	font-size: 10px;
}

h1{
	font-size: 5em;
}

p{
	font-size:2em;
}

span {
	font-size: 2em;
}

/*font-weight*/

p {
	font-weight: bold;
}

/*line-height*/

p {
	line-height: 2;
}

/*text-align*/
h1 {
	text-align: center;
}

/*text-decoratoin*/

span{
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}