h1{
	color: rgba(150, 30, 80, 0.8);
/*	border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border:8px dashed purple;
}

h4 {
	background: rgb(255, 100, 80);
}

body{
	background: pink;
/*	background: url(https://cdn.pixabay.com/photo/2017/01/15/22/34/texture-1982914_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}